<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">

  <body>
    <h2>Sorry, I couldn't find this product</h2><br>
    <img src="https://images.squarespace-cdn.com/content/v1/5f024ccc9fa198769d8942bf/1596343146949-4MACCH2ANZQ6AO4W97U9/ke17ZwdGBToddI8pDm48kJK4Mm1kch8SFO9ZNkN1NT97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmN9YSRtfoTLg6dUq-6F17A0FFZK5fArcnK1IqGweyunyWChwIwkIJ_P7MaZif-uMs/Depresso+coffee+joke.png" />
  </body>
</html>
