<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
  <body>
    <div class="product" th:object="${product}">
      <h2 th:text="*{name}"></h2>
      <p th:text="*{'Price: $' + price}"></p>
      <p th:class=*{indicator} th:text="*{'Caffeine Rating: ' + caffeineRating}"></p>
      <p class="description" th:text="*{description}"></p>
      <a href="/products">Back to Main</a>
    </div></br>
    <form action="#" th:action="@{/products/delete/{id}(id=*{id})}" th:method="delete" >
      <input type="hidden" name="_method" value="delete" />
      <button type="submit" id="submitButton" onClick="return confirm('Are you sure you want to delete this product?')">
        Delete Product
      </button>
    </form>
  </body>
</html>
